.page {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin: 20px 250px 0px 20px;
}

.resource-list {

}

.resource-profile {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
  margin: 0px 0px 0px 50px;
}

.resource-info {
  margin-right: 50px;
}

button {
  height: fit-content;
  width: fit-content;
}